body{
    background-color:hsl(308, 43%, 90%);
}

fieldset {
    width: 80%;
	text-align: center;
	border: 5px solid;
    color: hsl(315, 87%, 78%);
	border-radius: 50px;
}

h1{
    width: 80%;
    color: hsl(315, 87%, 78%);
    display: table; margin-left: auto; margin-right: auto;

}

#btn{
    margin-top:30px;
    display: table; margin-left: 110px; margin-right: 50px;
    width: 40%;
    
}

ul{
    display: table; margin-left: auto; margin-right: auto;
}

li{
    text-align: left;
}

#container{
    width: 100%;
}