body{
    background-color:hsl(308, 43%, 90%);
    display: table; margin-left: auto; margin-right: auto;
}

fieldset {
    width: 100%;
	text-align: center;
	border: 5px solid;
    color: hsl(315, 87%, 78%);
	border-radius: 50px;
    display: table; margin-left: auto; margin-right: auto;
}

h1{
    color: hsl(315, 87%, 78%);
    display: table; margin-left: auto; margin-right: auto;

}

#btn{
    background:hsl(315, 87%, 78%);
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    display: table; margin-left: auto; margin-right: auto;
    margin-top: 30px;
    border-radius: 50px;

  }
    
}

ul{
    display: table; margin-left: auto; margin-right: auto;
}

li{
    text-align: left;
}

#container{
    width: 100%;
}
